<!DOCTYPE html>
<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M3M46XGCN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());  
  gtag('config', 'G-M3M46XGCN7');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wholeapp.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='wholeapp.css') }}">
<link rel="icon" href="/static/favicon.ico?" type="image/x-icon">
</head>
<body onload="onloadFunction();" style="font-size: 16px;">
<center>
<table cellspacing="0" cellpadding="0" border="0"><tr>
<td width="0" valign="top">
    <br/>&nbsp;<br/>
</td>
<td>
<center>
        <h2 style="font-size: 24px; white-space: nowrap;">
            Za freelancere iz FBiH i plaćanje poreza</br>
            Pojednostavljeno popunjavanje AMS - 1035 obrasca i 3 uplatnice
        </h2>
	<i style="font-size: 16px; white-space: nowrap;">
            Važna napomena: Podaci koje budete unosili neće biti sačuvani nigdje, 
            osim šablona koji će biti sačuvani samo u Vašem browseru lokalno.
        </i><br/><br/>
	<table class="main_table" cellspacing="0" cellpadding="5" border="0" width="1" style="border-collapse: collapse;">
		<tr>
			<td class="nowrapping" valign="top">Odaberite valutu uplate: </td>
			<td class="nowrapping" valign="top">
				<select name="currency" id="currency" onchange="setXeLink();">
					<option value="BAM">BAM</option>
					<option value="USD">USD</option>
					<option value="EUR">EUR</option>
					<option value="GBP">GBP</option>
					<option value="CAD">CAD</option>
					<option value="AUD">AUD</option>
					<option value="JPY">JPY</option>
					<option value="INR">INR</option>
					<option value="NZD">NZD</option>
					<option value="CHF">CHF</option>
					<option value="ZAR">ZAR</option>
					<option value="RUB">RUB</option>
					<option value="BGN">BGN</option>
					<option value="SGD">SGD</option>
					<option value="HKD">HKD</option>
					<option value="SEK">SEK</option>
					<option value="THB">THB</option>
					<option value="HUF">HUF</option>
					<option value="CNY">CNY</option>
					<option value="NOK">NOK</option>
					<option value="MXN">MXN</option>
					<option value="DKK">DKK</option>
					<option value="MYR">MYR</option>
					<option value="PLN">PLN</option>
					<option value="BRL">BRL</option>
					<option value="PHP">PHP</option>
					<option value="IDR">IDR</option>
					<option value="CZK">CZK</option>
					<option value="AED">AED</option>
					<option value="TWD">TWD</option>
					<option value="KRW">KRW</option>
					<option value="ILS">ILS</option>
					<option value="ARS">ARS</option>
					<option value="CLP">CLP</option>
					<option value="EGP">EGP</option>
					<option value="TRY">TRY</option>
					<option value="RON">RON</option>
					<option value="SAR">SAR</option>
					<option value="PKR">PKR</option>
					<option value="COP">COP</option>
					<option value="IQD">IQD</option>
					<option value="XAU">XAU</option>
					<option value="FJD">FJD</option>
					<option value="KWD">KWD</option>
					<option value="ISK">ISK</option>
					<option value="MAD">MAD</option>
					<option value="VND">VND</option>
					<option value="JMD">JMD</option>
					<option value="JOD">JOD</option>
					<option value="DOP">DOP</option>
					<option value="PEN">PEN</option>
					<option value="CRC">CRC</option>
					<option value="BHD">BHD</option>
					<option value="BDT">BDT</option>
					<option value="DZD">DZD</option>
					<option value="KES">KES</option>
					<option value="XAG">XAG</option>
					<option value="LKR">LKR</option>
					<option value="OMR">OMR</option>
					<option value="QAR">QAR</option>
					<option value="XOF">XOF</option>
					<option value="IRR">IRR</option>
					<option value="XCD">XCD</option>
					<option value="TND">TND</option>
					<option value="TTD">TTD</option>
					<option value="XPF">XPF</option>
					<option value="EEK">EEK</option>
					<option value="ZMK">ZMK</option>
					<option value="ZMW">ZMW</option>
					<option value="BBD">BBD</option>
					<option value="NGN">NGN</option>
					<option value="LBP">LBP</option>
					<option value="XAF">XAF</option>
					<option value="MUR">MUR</option>
					<option value="XPT">XPT</option>
					<option value="BSD">BSD</option>
					<option value="ALL">ALL</option>
					<option value="UYU">UYU</option>
					<option value="BMD">BMD</option>
					<option value="LVL">LVL</option>
					<option value="UAH">UAH</option>
					<option value="GTQ">GTQ</option>
					<option value="XDR">XDR</option>
					<option value="BWP">BWP</option>
					<option value="BOB">BOB</option>
					<option value="CUP">CUP</option>
					<option value="PYG">PYG</option>
					<option value="HNL">HNL</option>
					<option value="LTL">LTL</option>
					<option value="ZWD">ZWD</option>
					<option value="NIO">NIO</option>
					<option value="RSD">RSD</option>
					<option value="NPR">NPR</option>
					<option value="HTG">HTG</option>
					<option value="PAB">PAB</option>
					<option value="SVC">SVC</option>
					<option value="GYD">GYD</option>
					<option value="KYD">KYD</option>
					<option value="TZS">TZS</option>
					<option value="CNH">CNH</option>
					<option value="CVE">CVE</option>
					<option value="FKP">FKP</option>
					<option value="ANG">ANG</option>
					<option value="UGX">UGX</option>
					<option value="MGA">MGA</option>
					<option value="GEL">GEL</option>
					<option value="ETB">ETB</option>
					<option value="MDL">MDL</option>
					<option value="VUV">VUV</option>
					<option value="SYP">SYP</option>
					<option value="BND">BND</option>
					<option value="KHR">KHR</option>
					<option value="NAD">NAD</option>
					<option value="MKD">MKD</option>
					<option value="AOA">AOA</option>
					<option value="PGK">PGK</option>
					<option value="MMK">MMK</option>
					<option value="KZT">KZT</option>
					<option value="MOP">MOP</option>
					<option value="MZN">MZN</option>
					<option value="LYD">LYD</option>
					<option value="SLE">SLE</option>
					<option value="SLL">SLL</option>
					<option value="GNF">GNF</option>
					<option value="BYN">BYN</option>
					<option value="BYR">BYR</option>
					<option value="GMD">GMD</option>
					<option value="AWG">AWG</option>
					<option value="AMD">AMD</option>
					<option value="YER">YER</option>
					<option value="LAK">LAK</option>
					<option value="WST">WST</option>
					<option value="MWK">MWK</option>
					<option value="KPW">KPW</option>
					<option value="BIF">BIF</option>
					<option value="DJF">DJF</option>
					<option value="MNT">MNT</option>
					<option value="UZS">UZS</option>
					<option value="TOP">TOP</option>
					<option value="SCR">SCR</option>
					<option value="KGS">KGS</option>
					<option value="BTN">BTN</option>
					<option value="SBD">SBD</option>
					<option value="GIP">GIP</option>
					<option value="RWF">RWF</option>
					<option value="CDF">CDF</option>
					<option value="MVR">MVR</option>
					<option value="MRU">MRU</option>
					<option value="ERN">ERN</option>
					<option value="SOS">SOS</option>
					<option value="SZL">SZL</option>
					<option value="TJS">TJS</option>
					<option value="LRD">LRD</option>
					<option value="LSL">LSL</option>
					<option value="SHP">SHP</option>
					<option value="STN">STN</option>
					<option value="KMF">KMF</option>
					<option value="SPL">SPL</option>
					<option value="TMT">TMT</option>
					<option value="SRD">SRD</option>
					<option value="IMP">IMP</option>
					<option value="JEP">JEP</option>
					<option value="TVD">TVD</option>
					<option value="GGP">GGP</option>
					<option value="AFN">AFN</option>
					<option value="AZN">AZN</option>
					<option value="BZD">BZD</option>
					<option value="CUC">CUC</option>
					<option value="GHS">GHS</option>
					<option value="SDG">SDG</option>
					<option value="VES">VES</option>
					<option value="VEF">VEF</option>
					<option value="XPD">XPD</option>
					<option value="BTC">BTC</option>
					<option value="ADA">ADA</option>
					<option value="BCH">BCH</option>
					<option value="DOGE">DOGE</option>
					<option value="DOT">DOT</option>
					<option value="ETH">ETH</option>
					<option value="LINK">LINK</option>
					<option value="LTC">LTC</option>
					<option value="LUNA">LUNA</option>
					<option value="UNI">UNI</option>
					<option value="XLM">XLM</option>
					<option value="XRP">XRP</option>
					<option value="HRK">HRK</option>
					<option value="ATS">ATS</option>
					<option value="AZM">AZM</option>
					<option value="BEF">BEF</option>
					<option value="CYP">CYP</option>
					<option value="DEM">DEM</option>
					<option value="ESP">ESP</option>
					<option value="FIM">FIM</option>
					<option value="FRF">FRF</option>
					<option value="GHC">GHC</option>
					<option value="GRD">GRD</option>
					<option value="IEP">IEP</option>
					<option value="ITL">ITL</option>
					<option value="LUF">LUF</option>
					<option value="MGF">MGF</option>
					<option value="MRO">MRO</option>
					<option value="MTL">MTL</option>
					<option value="MZM">MZM</option>
					<option value="NLG">NLG</option>
					<option value="PTE">PTE</option>
					<option value="ROL">ROL</option>
					<option value="SDD">SDD</option>
					<option value="SIT">SIT</option>
					<option value="SKK">SKK</option>
					<option value="SRG">SRG</option>
					<option value="STD">STD</option>
					<option value="TMM">TMM</option>
					<option value="TRL">TRL</option>
					<option value="VAL">VAL</option>
					<option value="VEB">VEB</option>
					<option value="XEU">XEU</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="nowrapping" valign="top">Vrijednost odabrane valute u KM (exchange rate) na dan uplate: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="rate" value="1.0" onblur="checkForFloat(this, 'Vrijednost odabrane valute u KM (exchange rate) na dan uplate', '1.0');"><br>
				Unesite odnos valuta kakav je bio na dan uplate, pogledajte ovdje:<br>
				<a id="xe_link" href="https://www.xe.com/currencycharts/?from=BAM&to=BAM" target="_blank">
					https://www.xe.com/currencycharts/?from=BAM&to=BAM
				</a>
			</td>
		</tr>
		<tr>
			<td class="nowrapping" valign="top">Puni iznos uplate u iznad odabranoj valuti: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="total_foreign" value="1000" 
				onblur="checkForFloat(this, 'Puni iznos uplate u iznad odabranoj valuti', '1000');">
			</td>
		</tr>
		<tr>
			<td class="nowrapping" valign="top">Iznos poreza plaćen u inostranstvu u iznad odabranoj valuti: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="foreign_tax" value="0"
				onblur="checkForFloat(this, 'Iznos poreza plaćen u inostranstvu u iznad odabranoj valuti', '0');">
			</td>
		</tr>
		<tr>
			<td class="nowrapping" valign="top">Datum kada je uplata legla na Vaš račun (DD.MM.YYYY): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="transaction_date" value="" 
				onblur="checkForTransactionDate(this, 'Datum kada je uplata legla na Vaš račun');">
			</td>
		</tr>
		<tr>
			<td class="nowrapping" valign="top">Porezni period, tj. mjesec i godina (MM.YYYY): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="tax_period" value="" 
				onblur="checkForDateTaxPeriod(this, 'Porezni period, mjesec i godina');">
			</td>
		</tr>
		<tr>
			<td class="nowrapping" valign="top">Priznati rashodi: </td>
			<td class="nowrapping" valign="top">
				<select name="expenses" id="expenses">
					<option value="0.2">20%</option>
					<option value="0.3">30% za autorsko djelo</option>					
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Preostala polja možete šablonizirati. Šabloni će biti snimljeni unutar Vašeg browsera.
			</td>
		</tr>
		<tr style="border-top: 1pt solid black; border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Odaberite šablon AMS obrasca: </td>
			<td class="nowrapping" valign="top">
				<select name="ams_template" id="ams_template" onchange="selectAmsTemplate(this);">
					<option value="-1">Novi šablon</option>
					<optgroup id="ams_user_templates" label="Vaši šabloni">
						<option value="0">Šablon 1</option>
						<option value="1">Šablon 2</option>
					</optgroup>
				</select>
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Naziv šablona AMS obrasca: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_template_name" value="Naziv šablona" 
				onblur="checkForTemplateName(this, 'Naziv šablona AMS obrasca', 'Naziv šablona');">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Redni broj stranice AMS obrasca: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_num_of_page" value="1">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Ukupan broj stranica AMS obrasca: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_num_of_pages" value="1">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaše ime i prezime: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_name_and_surname" value="">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaša adresa prebivališta: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_address" value="" style="width: 100%;">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaš JMBG (13 cifara): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_jmbg" value="">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Ime i prezime isplatioca ili naziv firme od koje ste dobili uplatu: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_payer_name" value="" style="width: 100%;">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Adresa isplatioca ili firme od koje ste dobili uplatu: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_payer_address" value="" style="width: 100%;">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Država iz koje je isplatilac: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="ams_payer_country" value="" style="width: 100%;">
			</td>
		</tr>
		<tr style="border-bottom: 1pt solid black; border-left: 1pt solid black; border-right: 1pt solid black;">
			<td>
				<input type="button" value="Sačuvaj šablon" id="btn_save_ams_template" onclick="saveAmsTemplate();">
				<input type="button" value="Obriši šablon" id="btn_delete_ams_template" onclick="removeAmsTemplate();">				
			</td>	
			<td align="right">
				<input type="button" value="Generiraj AMS obrazac, bez uplatnica" id="generate_ams" onclick="requestAll(this);">
			</td>		
		</tr>                
		<tr>
			<td class="nowrapping" valign="top" colspan="2" width="1">
				<span style="font-family: monospace;">
					<table class="data_table" cellspacing="0" cellpadding="5" border="0">
					    <tr>
							<td colspan="2" id="detailed_info">
								Informacije o generiranim formularima:<br/>
								------------------------------------------------------------
							</td>
						</tr>
						<tr>
							<td class="nowrapping" valign="top">Datum i vrijeme generisanja formulara:</td>
							<td class="nowrapping" valign="top" id="generation_datetime"></td>
						</tr>
						<tr>
							<td class="nowrapping" valign="top">Doprinos za zdravstvo koji uplaćujete zavodu FBiH:</td>
							<td class="nowrapping" valign="top" id="health_fbih"></td>
						</tr>
						<tr>
							<td class="nowrapping" valign="top">Doprinos za zdravstvo koji uplaćujete zavodu kantona:</td>
							<td class="nowrapping" valign="top" id="health_canton"></td>
						</tr>
						<tr>
							<td class="nowrapping" valign="top">Porez koji uplaćujete na budžet kantona:</td>
							<td class="nowrapping" valign="top" id="total_tax"></td>
						</tr>
						<tr>
							<td colspan="2">------------------------------------------------------------</td>
						</tr>
                                                <tr>
							<td class="nowrapping" valign="top">Puni iznos uplate na Vaš račun u BAM:</td>
							<td class="nowrapping" valign="top" id="total_BAM"></td>
						</tr>
						<tr>
							<td class="nowrapping" valign="top">Vaši ukupni troškovi iznose:</td>
							<td class="nowrapping" valign="top" id="total_costs"></td>
						</tr>
						<tr>
							<td class="nowrapping" valign="top">Nakon oduzimanja svih troškova vama ostane:</td>
							<td class="nowrapping" valign="top" id="earned"></td>
						</tr>
						<tr>
							<td colspan="2">------------------------------------------------------------</td>
						</tr>
						<tr>
							<td class="nowrapping" valign="middle">Linkovi za preuzimanje generiranog AMS obrasca:</td>
							<td class="nowrapping" valign="middle">
								<span id="ams_download_link"></span>
								<span id="ams_download_link_image"></span>
							</td>
						</tr>
						<tr>
							<td class="nowrapping" valign="middle">Linkovi za preuzimanje uplatnice za zavod zdrav. osig. FBiH:</td>
							<td class="nowrapping" valign="middle">
								<span id="slip_fbih_health_download_link"></span>
								<span id="slip_fbih_health_download_link_image"></span>
							</td>
						</tr>
						<tr>
							<td class="nowrapping" valign="middle">Linkovi za preuzimanje uplatnice za zavod zdrav. osig. kantona:</td>
							<td class="nowrapping" valign="middle">
								<span id="slip_canton_health_download_link"></span>
								<span id="slip_canton_health_download_link_image"></span>
							</td>							
						</tr>
						<tr>
							<td class="nowrapping" valign="middle">Linkovi za preuzimanje uplatnice za budžet kantona:</td>
							<td class="nowrapping" valign="middle">
								<span id="slip_canton_budget_download_link"></span>
								<span id="slip_canton_budget_download_link_image"></span>
							</td>
						</tr>						
					</table>					
				</span>
			</td>			
		</tr>                
		<tr>
			<td colspan="2" class="nowrapping" align="center">
				<h2>Podaci za uplatnice</h2>
			</td>
		</tr>
		<tr>
			<td class="nowrapping" valign="top">Datum kada ćete uplatit doprinose i porez (DD.MM.YYYY): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_transaction_date" value="" 
				onblur="checkForTransactionDate(this, 'Datum kada ćete uplatit doprinose i porez');">
			</td>
		</tr>
		<tr style="border-top: 1pt solid black; border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Odaberite šablon za uplatnice: </td>
			<td class="nowrapping" valign="top">
				<select name="slip_template" id="slip_template" onchange="selectSlipTemplate(this);">
					<option value="-1">Novi šablon</option>
					<optgroup id="slip_user_templates" label="Vaši šabloni">
						<option value="0">Šablon 1</option>
						<option value="1">Šablon 2</option>
					</optgroup>
				</select>
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Naziv šablona za uplatnice: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_template_name" value="Naziv šablona" 
				onblur="checkForTemplateName(this, 'Naziv šablona za uplatnice', 'Naziv šablona');">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaše ime i prezime, adresa, telefon: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_name_address_phone" value="" style="width: 100%;">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaš JMBG (13 cifara): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_jmbg" value="">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaš kanton: </td>
			<td class="nowrapping" valign="top">
				<select name="slip_canton" id="slip_canton">
					<option value="USK">Unsko-sanski kanton</option>
					<option value="PK">Posavski kanton</option>
					<option value="TK">Tuzlanski kanton</option>
					<option value="ZDK">Zeničko-dobojski kanton</option>
					<option value="BPK">Bosansko-podrinjski kanton</option>
					<option value="SBK">Srednjobosanski kanton</option>
					<option value="HNK">Hercegovačko-neretvanski kanton</option>
					<option value="ZHK">Zapadnohercegovački kanton</option>
					<option value="KS">Kanton Sarajevo</option>
					<option value="K10">Kanton 10</option>
				</select>
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Mjesto uplate doprinosa i poreza: </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_payment_place" value="">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaš račun s kojeg ćete uplatiti doprinose i porez (16 cifara): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_user_account_num" value=""> ostavite prazno ako plaćate u kešu...
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Račun zavoda zdravstvenog osiguranja FBiH (16 cifara): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_fbih_health_account_num" value="">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Račun zavoda zdravstvenog osiguranja Vašeg kantona (16 cifara): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_canton_health_account_num" value="">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Račun budžeta Vašeg kantona (16 cifara): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_canton_budget_account_num" value="">
			</td>
		</tr>
		<tr style="border-left: 1pt solid black; border-right: 1pt solid black;">
			<td class="nowrapping" valign="top">Vaša općina (3 cifre): </td>
			<td class="nowrapping" valign="top">
				<input type="text" id="slip_municipality" value="">
			</td>
		</tr>
		<tr style="border-bottom: 1pt solid black; border-left: 1pt solid black; border-right: 1pt solid black;">
			<td>
				<input type="button" value="Sačuvaj šablon" id="btn_save_slip_template" onclick="saveSlipTemplate();">
				<input type="button" value="Obriši šablon" id="btn_delete_slip_template" onclick="removeSlipTemplate();">				
			</td>	
			<td align="right">
				<input type="button" value="Generiraj AMS obrazac i sve 3 uplatnice" id="generate_all" onclick="requestAll(this);">
			</td>		
		</tr>
	</table><br/>        
        Ako poželite prebaciti šablone na drugi računar ili u drugi browser, sada je i to moguće:<br/>
        <button onclick="exportTemplates();">Eksportuj sve šablone</button> 
        <button onclick="$('#sabloni').click()">Importuj sve šablone</button>
        <input id="sabloni" type="file" onchange="importTemplates(event);" style="display: none;">
	<br/><br/>
        <br/><br/>
	© 2022 - 2024 ADFreelancing, Bosna i Hercegovina<br/>&nbsp;	
</center>
</td>
<td width="0" valign="top">
    <br/>&nbsp;<br/>
</td>
</tr>
</table>
</center>
</body>
</html>