<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wholeapp.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='wholeapp.css') }}">
<link rel="icon" href="/static/favicon.ico?" type="image/x-icon">
</head>
<body onload="" style="font-size: 16px;">
<center>
<h2 style="font-size: 24px; white-space: nowrap;">
    API for Hampshire Metals
</h2>
</center>
</body>
</html>